<%= erb :"partials/_header" %>
<div class="container-fluid">
  <h1>"<%= @squad["name"] %>" Students</h1>
  <p>Students in this squad are listed below:</p>
  <ul>
  <% @students.each do |student| %>
  <% b=["<span>", "</span>"] %>
  <% b=["<b>", "</b>"] if student['is_squad_leader']=='t' %>
    <li><%= b[0] + student["name"] + b[1] %> <small><a href="/squads/<%= @squad['squad_id']%>/students/<%= student['student_id'] %>">see info</a></small></li>
    <% end %>
  </ul>
  <small><a href="/squads/<%= @squad['squad_id'] %>/students/new">Add New Student</a></small>
</div>
<%= erb :"partials/_footer" %>